@model Element
@{
    string price = string.Format("{0:f2}", @Model.Price);
    
    string sellPrice = string.Format("{0:f2}", @Model.Price * 1.3);
}

<div class="container"
     style="border: 1px;border-style: ridge;">
    <div class="row">
        <div class="col-3" style="padding-left: 3px; padding-right: 3px; word-wrap: break-word; /*word-break: break-all;*/">
            @Model.CatNumber
        </div>
        <div class="col-md" style="padding-left: 0px; padding-right: 0px;">
            @Model.Name
        </div>
        <div class="col-xs" style="width: 55px; text-align: end; padding: inherit;">
            @{
            if (@Model.Price !=0) @sellPrice;
            }
            <p style="font-size: 12px; text-align: end; padding: inherit; margin-bottom: 0px;">
                @price
            </p>
        </div>
    </div>
</div>